<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="vTigerContactTest.TC_06CreateContactWithLeadSourceAndOraganisationTest"/>
      <class name="vTigerContactTest.TC_04CreateContactTest"/>
      <class name="vTigerContactTest.TC_07CreateContactWithOrganizationTest"/>
      <class name="vTigerContactTest.CreateContactTest"/>
      <class name="vTigerContactTest.TC_05CreateContactWithOrganizationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
